/*  your css code here. If applicable */
*{
	background:rgb(161, 19, 222);
}
.btn {
  margin: 9px;
  padding: 10px 20px;
  background-color:rgb(119, 16, 137);;
  color: white;
  border: none;
  cursor: pointer;
}

.stop {
  margin: 5px;
  padding: 10px 20px;
  background-color: rgb(119, 16, 137);;
  color: white;
  border: none;
  cursor: pointer;
}
