/*  your css code here. If applicable */
*{
	background-color:#A164DF;
	height:100vh;
	width:100w;
}
#buttons{
	height:100%;
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.btn {
	height:7%;
	width:fit-content;
  padding: 10px 17px;
  background-color:#663399;
  color: white;
  border: none;
  cursor: pointer;
}
.stop{
height:7%;
	width:fit-content;
  padding: 10px 17px;
  background-color:#663399;
  color: white;
  border: none;
  cursor: pointer;	
}

